<!DOCTYPE html>
<html>
<head>
  <title>IntentionalWanderers</title>
  <%= stylesheet_link_tag    'http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div id="logo">
    <%= image_tag 'mockup_logo_scaled.png' %>
  </div>
  <div id="nav">
    <ul>
      <li><a href="#">Where We Are</a></li>
      <li><a href="#">Journal</a></li>
      <li><a href="#">Our Journey in Photos</a></li>
      <li><a href="/about">About Us</a></li>
    </ul>
  </div>
</header>

<%= yield %>

</body>
</html>
