<%= form_for(@photo) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @photo.image %>
    <%= image_tag @photo.image.url, id: 'image_preview' %>
  <% end %>
  <div class="field">
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :caption %>
    <%= f.text_field :caption %>
  </div>
  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location_name, value: 'Name' %>
    <%= f.text_field :latitude, value: 'Latitude' %>
    <%= f.text_field :longitude, value: 'Longitude' %>
  </div>
  <div class="field">
    <%= f.label :published %>
    <%= f.check_box :published %>
  </div>
  <div class="field">
    <%= f.label :tags %>
    <%= f.text_field :tags %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
